source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.0/direnvrc" "sha256-5EwyKnkJNQeXrRkYbwwRBcXbibosCJqyIUuz9Xq+LRc="

use_flake
# reload when these files change
watch_file devshell.toml
watch_file flake.nix
watch_file flake.lock
