.devenv
.direnv
result
.pi/workflows/runs/
nix-repl.nix
wifi-networks
cached-iso.iso
yubikey-identity.txt
/secrets/**
!/secrets/**/
!/secrets/**/*.nix
!/secrets/**/*.age
!/secrets/**/*.pub
!/secrets/allowed_signers
